main {
  text-align: center;
  vertical-align: center;
}

.nav-item {
  font-size: 2rem;
 
}

.dark {
  background-color: #222 !important;
  color: #e6e6e6 !important;
}
.light {
  background-color: #e6e6e6 !important;
  color: #222 !important;
}

.navbar > .container-fluid {
  display: flex;
  justify-content: flex-start !important;
}
.navbar-brand > img {
  width: 6rem;
}
